.section {
  font-size: 16px;
  height: 100vh;
  scroll-snap-align: center;
  overflow: hidden;
  position: relative;
}
  
.minilogo, .qr, .android, .ios {
  position: absolute;
}
  
.minilogo {
  margin: 2em;
  height: 8.5em;
  top: 0;
  left: 0;
}
  
.qr {
  margin: 2em;
  height: 8.5em;
  top: 0;
  right: 0;
}
  
.android {
  cursor: pointer;
  bottom: -2em;
  left: 2em;
  background-image: url('../../../assets/svg/android.svg');
  background-size: cover;
  width: 15em;
  height: 15em;
}
  
.ios {
  cursor: pointer;
  bottom: -2em;
  right: 2em;
  background-image: url('../../../assets/svg/ios.svg');
  background-size: cover;
  width: 15em;
  height: 15em;
}

@media (max-width: 1440px) {
  .section {
    font-size: 13px;
  }

}

@media (max-width: 768px) {
  .section {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .section {
    font-size: 10px;
  }
}

@media (max-width: 320px) {
  .section {
    font-size: 8px;
  }
}

