.header {
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
}

.social{
    display: flex;
    gap: 3em;
    align-items: center;
}
.appname{
    font-size: 2em;
}

.downl {
    padding: 0 1em;
    background: linear-gradient(270deg, #697adf 0%, #a1a0f0 100%);
    color: #fcfcfc;
    font-family: 'TTForsMedium', sans-serif;
    font-size: 2em;
    border: none;
    border-radius: 2em;
}

.lillogo3d {
    width: 4em;
    display: none;
}

.toggle{
    display: none;
}

@media (max-width: 1024px) {

    .toggle{
        display: block;
    }
    
    .appname {
        display: none;
    }
    .social {
        display: none;
    }

    .lillogo3d {
        display: block;
    }
  }

  @media (max-width: 320px) {
}