ul li{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 32px;
}

.burger {
    color: #fcfcfc;
    font-size: 48px;
}
.cross{
    color: #fcfcfc;
    font-size: 48px;
}

.toggleIcon{
    width: 32px;
}

.toggleSocial{
    display: flex;
    position: absolute;
    justify-content: center;
    right: 0vh;
    width: 50px;
    margin: 1% 5.5% 0 0;
    padding: 16px 8px;
    background: linear-gradient(270deg, #697adf 0%, #a1a0f0 100%);
    border-radius: 16px;
    border-top-right-radius: 4px;
    opacity: 0;
    visibility: hidden;
}

.toggleSocial.active{
    opacity: 1;
    visibility: visible;
}

