.toggle{
font-size: 16px;
}

ul li{
    margin: 0;
    padding: 0;
    width: 100%;
    list-style-type: none;
    font-size: 2em;
}

.burger {
    color: #fcfcfc;
    font-size: 3em;
}
.cross{
    color: #fcfcfc;
    font-size: 3em;
}

.toggleIcon{
    width: 1.5em;
    height: 1.5em;
}

.toggleSocial{
    display: flex;
    position: absolute;
    justify-content: center;
    right: 0vh;
    width: 4em;
    margin: 1em 2em 0 0;
    padding: 1em 0.5em 0.5em 0.5em;
    background: linear-gradient(270deg, #697adf 0%, #a1a0f0 100%);
    border-radius: 16px;
    border-top-right-radius: 4px;
    opacity: 0;
    visibility: hidden;
}

.toggleSocial.active{
    opacity: 1;
    visibility: visible;
}