.section {
  font-size: 16px;
  padding: 0 5em 0 5em;
  height: 100svh;
  scroll-snap-align: center;
  overflow: hidden;
  position: relative;
}

.section h1 {
  font-size: 8em;
}

.section h3 {
  font-weight: 500;
  text-shadow: 2px 2px 4px black;
  font-size: 2.5em;
}

.mockupMap {
  transform: scale(0.5);
  z-index: 0;
  background-size: cover;
  background-position: center;
  width: 442px;
  height: 889px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.blob1,
.blob2,
.blob3 {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  z-index: -1;
}
.blob1img,
.blob2img,
.blob3img {
  width: 100%;
}

.blob1 {
  position: absolute;
  top: 24%;
  right: 0;
}
.blob1 h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0 1em 2em;
  width: 600px;
}

.blob2 {
  position: absolute;
  top: 41%;
  left: 0;
}

.blob2 h3 {
  text-align: right;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2em 2em 0 0;
  width: 600px;
}

.blob3 {
  position: absolute;
  top: 70%;
  right: 0;
}
.blob3 h3 {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1em 0 1em 2em;
  width: 500px;
}

@media (max-width: 480px) {
  .section {
    font-size: 4px;
  }
  .mockupMap {
    transform: scale(0.5);
    position: relative;
    z-index: 1;
    top:6%;
    left: -25%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .map {
    display: flex;
    justify-content: center;
    transform: scale(0.57);
    margin-left: 35px;
  }
  .layer {
    transform: scale(0.57);
  }

  .blob1,
  .blob2,
  .blob3 {
    display: flex;
    align-items: center;
    position: relative;
    width: 150em;
  }
  .blob1img,
  .blob2img,
  .blob3img {
    width: 100%;
  }
  .blob1 {
    position: absolute;
    top: 10%;
    right: -55em;
  }
  .blob1 h3 {
    margin: 1em 0 1em 2em;
    width: 250px;
    font-size: 4.5em;
  }

  .blob2 {
    position: absolute;
    top: 28%;
    left: -55em;
    transform: scale(1.5);
  }

  .blob2 h3 {
    margin: 3em 9em 0 0;
    width: 200px;
    font-size: 3em;
  }

  .blob3 {
    display: none;
  }
  .blob3 h3 {
    margin: 1em 0 1em 2em;
    width: 250px;
    font-size: 5em;
  }
  .section h1 {
    margin-top: 0.4em;
  }
}

@media (max-width: 320px) {
  .section {
    font-size: 4px;
  }
  .mockupMap {
    transform: scale(0.5);
    position: relative;
    z-index: 1;
    top: 19.5%;
    left: -25%;
    background-size: 250px;
    background-repeat: no-repeat;
  }
  .map {
    display: flex;
    justify-content: center;
    transform: scale(0.57);
    margin-left: 35px;
  }
  .layer {
    transform: scale(0.57);
  }

  .blob1,
  .blob2,
  .blob3 {
    display: flex;
    align-items: center;
    position: relative;
    width: 150em;
  }
  .blob1img,
  .blob2img,
  .blob3img {
    width: 100%;
  }
  .blob1 {
    position: absolute;
    top: 9%;
    right: -70em;
  }
  .blob1 h3 {
    margin: 1em 0 1em 2em;
    width: 250px;
    font-size: 4.5em;
  }

  .blob2 {
    position: absolute;
    top: 24%;
    left: -70em;
    transform: scale(1.5);
  }

  .blob2 h3 {
    margin: 3em 10em 0 0;
    width: 200px;
    font-size: 3em;
  }

  .blob3 {
    position: absolute;
    top: 36%;
    right: -65em;
  }
  .blob3 h3 {
    margin: 1em 0 1em 2em;
    width: 250px;
    font-size: 5em;
  }
  .section h1 {
    margin-top: 0.4em;
  }
}
