.section {
    height: 100vh;
    scroll-snap-align: center;
    overflow: hidden;
  }
  
  h1 {
    font-size: 128px;
    margin-top: 32px;
  }
  
  h3 {
    font-weight: 500;
    font-size: 36px;
    text-shadow: 2px 2px 4px black;
  }
  
  .mockupMap {
    transform: scale(0.9);
  }
