.section {
  font-size: 16px;
  padding: 0 5em 0 5em;
  height: 100vh;
  scroll-snap-align: center;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/logobg.png");
    background-size: 91vh; 
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
    opacity: 0.15;
  }

  .backgroundImage2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/img/logobg2.png");
    background-size: 91vh; 
    background-repeat: no-repeat;
    background-position: left;
    z-index: -1;
    opacity: 0.8;
  }

  .title{
    font-weight: bold;
    font-size: 8em;
    margin-top: 1em;
  }

  .title2{
    font-weight: 500;
    font-size: 2.5em;
    margin-top: 2em;
    text-shadow: 2px 2px 4px black;
    width: 500px;
  }


  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0%);
    }
    45%, 55% {
      transform: translateY(3%);
    }
  }
  
  .canva {
    width: 70em;
    height: 70em;
    position: absolute;
    top: -9vh;
    right: -2vh;
    overflow: hidden;
    animation: moveUpDown 5s infinite linear;
  }

  .downl {
    margin-top: 4em;
    padding: 0 1em;
    background: linear-gradient(270deg, #697adf 0%, #a1a0f0 100%);
    color: #fcfcfc;
    font-family: 'TTForsMedium', sans-serif;
    font-size: 5em;
    border: none;
    border-radius: 2em;
    display:none;
}

  @media (max-width: 480px) {
    .section {
      font-size: 6px;
    }
    .canva {
      display: none;
    }
    .downl {
      display:block;
  }
  .title2{
    font-weight: 500;
    font-size: 5em;
    width: 300px;
  }

  }


  @media (max-width: 320px) {
    .section {
      font-size: 6px;
    }
    .canva {
      display: none;
    }
    .downl {
      display:block;
  }
  .title2{
    font-weight: 500;
    font-size: 5em;
    width: 300px;
  }

  }

  @media (max-width: 1500px) {
    .section {
      font-size: 6px;
    }
    .canva {
      display: none;
    }
    .downl {
      display:block;
  }
  .title2{
    font-weight: 500;
    font-size: 5em;
    width: 300px;
  }

  }
