*{
    margin: 0;
    padding: 0;
    scrollbar-width: none;
    &::-webkit-scrollbar{
        display: none;
    }
}
.wrapper{
    width: 100%;
}
.container{
    height: 100vh;

    backdrop-filter: blur(4px);

    
    background-color: #15092d;
    background-image: radial-gradient(250% 200% at 0% 0%, rgb(65, 54, 204) 0%, rgba(32, 13, 51, 0) 60%, rgb(40, 31, 97) 500%);
    
    scroll-snap-type:y mandatory;
    scroll-behavior:smooth;
    overflow-y: auto;

    display: flex;
    justify-content: center;
}

