@font-face {
  font-family: 'TTForsRegular';
  src: url('../src/assets/fonts/TTForsRegular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'TTForsLight';
  src: url('../src/assets/fonts/TTForsLight.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'TTForsMedium';
  src: url('../src/assets/fonts/TTForsMedium.ttf') format('truetype');
  font-weight: 500;
}
@font-face {
  font-family: 'TTForsBold';
  src: url('../src/assets/fonts/TTForsBold.ttf') format('truetype');
  font-weight: bold;
}
/*
*{
  border: 1px solid red;
}*/
html, body {
  overflow-x: hidden;
}
body {
  position: relative
}
body, textarea, input, select{
  font-family: 'TTForsRegular', sans-serif;
  color: #fcfcfc;
}
body{
  min-width: 320px;
}

h2{
  font-family: 'TTForsBold', sans-serif;
}

h1{
  font-family: 'TTForsBold', sans-serif;
}

h3, button{
  font-family: 'TTForsMedium', sans-serif;
}
