.section {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  scroll-snap-align: center;
  overflow: hidden;
  position: relative;
}
.wrapper {
  height: 95%;
  width: 90%;
}

.section h1 {
  font-size: 4em;

}
.section h3 {
  font-weight: 500;
  text-shadow: 2px 2px 4px black;
  font-size: 2em;
  z-index: 9;
}

.mockupMap {
  position: absolute;
  z-index: 0;
  width: 20%;
  height: auto;
  z-index: 99; bottom: 0;
}

.blobs {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin-left: auto;
}
.blob5 {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
#right {
  margin-left: auto;
}
#left {
  margin-right: auto;
}
.titleStep1 {
  position: absolute;
  max-width: 50%;
  text-align: center;
}

.blob5img {
  width: 60%;
}
