.section {
  font-size: 16px;
  padding: 0 5em 0 5em;
  height: 100vh;
  scroll-snap-align: center;
  position: relative; 
}

.section h1 {
  font-size: 8em;
}

.wrapper {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.accordion{
  width: 100%;
}
.item{
  background: linear-gradient(270deg, #697adf 0%, #a1a0f0 100%);
  margin: 0 0 2em 0;
  padding: 0.5em 1em;
  border-radius: 1em ;
}
.item h3 {
  font-size: 2.5em;
  text-shadow: none;
}
.item h4 {
  font-size: 2em;
  margin: 0.5em 0 0.25em 0;
}
.title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}
.content {
  max-height: 0;
  overflow: hidden;
}
.content.show {
  max-height: 100em;
}

.FaChevronDown, .FaChevronUp{
  font-size: 2em;
  margin: 0.25em 0.5em 0 0;
}


.footer {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding-bottom: 4em;
}
  
.appname {
  font-size: 2em;
  margin-right: 2em;
}

.social {
  display: flex;
  gap: 3em;
  align-items: center;
}

.copyright {
  position: absolute;
  right: 0em;
  margin-right: 6rem;
  color: gray;
}


@media (max-width: 768px) {
}

@media (max-width: 320px) {
}

